<h1 xmlns="http://www.w3.org/1999/html">
    <ul>
        <li>This</li>
        <li>is</li>
        <li>template</li>
        <li>for</li>
        <li>action</li>
        <li>2</li>
    </ul>
    <h1>{{salute}}</h1>
    <button type="button" ng-click="sayHello()">Click Me!</button>
</h1>